<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Sigam nas redes sociais</h4>
            </div>
                </div>

                <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/gustavo.moraesmarcelo/"
                        target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/gmm_ilustrador/"
                        target="_blank" class="icoInstagram"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/gustavo-m-3629b810b/"
                        target="_blank" class="icoLinkedin"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    </li>
                </ul>
                </div>
                    </div>


                    </div>

                    <div class="footer-copyright bg-info text-center py-3">
                        <span class="text-light"> criado em 2021 </span>
                        </div>
</footer>