
<nav class=" navbar-expand-lg navbar-light bg-info ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#conteudoNavbarSuportado" aria-controls="#conteudoNavbarSuportado" aria-expanded="false" 
  aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="#conteudoNavbarSuportado">
    <ul class="navbar-nav m-auto mt-2 mt-lg-0 d-flex align-items-center">
      <li class="m-2 ">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG_zEPmeju4xw/profile-displayphoto-shrink_200_200/0/1603644452265?e=1632960000&v=beta&t=FVTGZ1L2cQGjwlF7hghIEt7T8BT2h3gJyTGUrKryvyA" alt="um garoto" width="50px" height="50px" class="img-fluid- rounded-circle">
      </li>

      <li class="nav-item pl-3 "> 
      <p class="m-0 font-weight-bold text-white fs-16 ml-2" style="margin-left: 20px;">Nome do Usuário</p>
      </li>

      
      <li class="nav-item pl-3 m-2">
        <a href="">
          <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>

   <ul class="navbar-nav m-auto mt-2 mt-lg-0 d-flex align-items-center">
    <a href="">
    <li class="nav-item pl-3 m-3"> 
      <p class="m-0 font-weight-bold text-white fs-16 ml-2" style="margin-left: 20px;">Sair</p>
      </li>
    </a>
    </ul>
  </div>


  
</nav>